*.blend1
*.csproj
*.icloud
*.sln
*.sln.DotSettings.user
*.userprefs
.DS_Store
Assets/InitTestScene*
Assets/csc.rsp
Assets/csc.rsp.meta
Library
Logs
Temp
Tests-*.xml
UserSettings/
log.txt
log.txt.meta
obj
